<h2>Cliente excluido com Sucesso!</h2>

<button type="button" class="btn btn-primary" onclick="Voltar()">Listagem de Clientes</button>

<script>
    function Voltar() {
        window.location.href = '../../Cliente/Index';
    }

</script>

